<nz-layout>
  <nz-header>
      <!-- <div class="logo">Shindig</div> -->
      <ul nz-menu nzTheme="dark" nzMode="horizontal">
          @for(header of headerMap; track header.href) {
          <li nz-menu-item [nzSelected]="rla.isActive">
              <a
                  [href]="header.href"
                  [routerLink]="header.href"
                  routerLinkActive
                  #rla="routerLinkActive"
                  ariaCurrentWhenActive="page"
              >
                  @if(header.loading) {
                  <span nz-icon nzType="loading"></span>
                  }@else {
                  <span nz-icon [nzType]="header.icon"></span>
                  }
                  <span class="icon-text">
                      {{ header.title }}
                  </span>
              </a>
          </li>
          }
      </ul>
  </nz-header>
  <nz-content>
      <div class="inner-content">
          <router-outlet class="main-container"></router-outlet>
      </div>
  </nz-content>
  <nz-footer
      >Made with 💙 by
      <a href="http://github.com/kwongtn" target="_blank"> KwongTN </a>
      & contributors, GNU AGPLv3</nz-footer
  >
</nz-layout>
